<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Learn - Sign In</title>
    <meta content="Learn - A platform for education." property="og:title">
    <meta content="Learn - A platform for education." property="og:site_name">
    <meta content=
    "Learn is an outcomes-driven online learning platform and is used to power the Learn-Verified Full Stack Web Development program."
    property="og:description">
    <meta content=
    "https://flatironschool-static.s3.amazonaws.com/learn-social.png" property=
    "og:image">
    <meta content="https://learn.co/" property="og:url">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Learn - A platform for education." name="twitter:title">
    <meta content="@FlatironSchool" name="twitter:site">
    <meta content="@FlatironSchool" name="twitter:creator">
    <meta content=
    "Learn is an outcomes-driven online learning platform and is used to power the Learn-Verified Full Stack Web Development program."
    name="twitter:description">
    <meta content=
    "https://flatironschool-static.s3.amazonaws.com/learn-social.png" name=
    "twitter:image">
    <meta content=
    "Learn is an outcomes-driven online learning platform and is used to power the Learn-Verified Full Stack Web Development program."
    name="description">
    <link href="http://flatironschool-static.s3.amazonaws.com/learn-social.png"
    rel="image_src">
    <link href=
    "http://flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-57x57.png"
    rel="apple-touch-icon" sizes="57x57">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-60x60.png"
    rel="apple-touch-icon" sizes="60x60">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-72x72.png"
    rel="apple-touch-icon" sizes="72x72">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-76x76.png"
    rel="apple-touch-icon" sizes="76x76">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-114x114.png"
    rel="apple-touch-icon" sizes="114x114">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-120x120.png"
    rel="apple-touch-icon" sizes="120x120">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-144x144.png"
    rel="apple-touch-icon" sizes="144x144">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-152x152.png"
    rel="apple-touch-icon" sizes="152x152">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/apple-touch-icon-180x180.png"
    rel="apple-touch-icon" sizes="180x180">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/favicon-32x32.png" rel=
    "icon" sizes="32x32" type="image/png">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/favicon-194x194.png"
    rel="icon" sizes="194x194" type="image/png">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/favicon-96x96.png" rel=
    "icon" sizes="96x96" type="image/png">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/android-chrome-192x192.png"
    rel="icon" sizes="192x192" type="image/png">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/favicon-16x16.png" rel=
    "icon" sizes="16x16" type="image/png">
    <link href=
    "//flatironschool-static.s3.amazonaws.com/favicons/manifest.json" rel=
    "manifest">
    <link href="//flatironschool-static.s3.amazonaws.com/favicons/favicon.ico"
    rel="shortcut icon">
    <meta content="Learn" name="apple-mobile-web-app-title">
    <meta content="Learn" name="application-name">
    <meta content="#4bc6e2" name="msapplication-TileColor">
    <meta content=
    "//flatironschool-static.s3.amazonaws.com/favicons/mstile-144x144.png"
    name="msapplication-TileImage">
    <meta content=
    "//flatironschool-static.s3.amazonaws.com/favicons/browserconfig.xml" name=
    "msapplication-config">
    <meta content="#4bc6e2" name="theme-color">
    <meta content="authenticity_token" name="csrf-param">
    <meta content=
    "2NgxrQqY3f892Slrgkvh/fT8HL8n3fQQaypanjD49ulZEKSDTXu0j03B4MeWjoPD+bhTjk6KvFG8u5p69njn8A=="
    name="csrf-token">
    <link href=
    "https://d3fcwsrz3tejug.cloudfront.net/assets/application-352617d957db42a9bf6aad1c9068b276.css"
    media="all" rel="stylesheet">
    <script type="text/javascript">
    //<![CDATA[
    window.gon={};gon.nginx_ip="push.flatironschool.com";gon.features={"nitrous_deprecation_notification":true,"expert_teamviewer_integration":true,"new_track_completion_modal":false,"user_assessment_dashboard":true,"teamviewer_integration":true,"new_track_switcher":true,"social_sharing":true,"hovercards":true,"welcome_lesson_times":false,"onboarding_test_copy":false,"career_services_phase_2":false,"ab_tests":{"show_superfast_welcome_modal":true}};gon.environment="production";gon.airbrake_project_id=104717;gon.airbrake_project_key="30fbe3cabbfa8cb99a6dc5c324b11573";
    //]]>
    </script>
    <script src=
    "https://d3fcwsrz3tejug.cloudfront.net/assets/bin/vendor-044125e7fb95372f74a58101b968ed93.js">
    </script>
    <script src=
    "https://d3fcwsrz3tejug.cloudfront.net/assets/bin/learn_v2-46cbbbf9e87931dc1a07dddffaa217e0.js">
    </script>
    <script>
    window.SEGMENT_TOKEN = "cIyUigdyqDgZ0i7sJRJnWZs4ba77NkyS";
    </script>
    <script src=
    "https://d3fcwsrz3tejug.cloudfront.net/assets/bin/analytics-d2f7f92a6130e8386797261ce92940ef.js">
    </script>
    <script>
    window.tracking.uuid = "b0a15fe6-7fa5-48b0-9822-e0231b0e1bd1";
    window.tracking.init("b0a15fe6-7fa5-48b0-9822-e0231b0e1bd1");

    document.addEventListener('DOMContentLoaded', function() {

    });



    analytics.ready(function() {
    if (window.tracking.cookie.github_fix){
    window.tracking.log('GitHub Fix');
    ga('set', 'referrer', 'http://learn.co/GitHubOAuthReturn');
    ga('create', 'UA-33578770-20', 'auto', {'name': 'flatironSchoolTracker'});
    ga('flatironSchoolTracker.send', 'pageview');
    }
    });
    </script><!-- Start of Async HubSpot Analytics Code -->

    <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/'+69751+'.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
    </script><!-- End of Async HubSpot Analytics Code -->
</head>
<body class="body--disable-header">
    <div id="js--region-flash"></div>
    <section class="site-main" id="js--region-main">
        <div class="site-main__inner">
            <div id="js--sign-in-modal"></div>
            <div class=
            "level level--has-image-bg level--margin-bottom-large level--flush"
            style="background-image:url(https://learn.co/assets/login/login.jpg);">
                <div class=
                "level__inner util--padding-tl util--padding-bl util--margin-lxl">
                <div class="module">
                        <svg height="36" width="130">
                        <use xlink:href=
                        "<%= asset_path('images/sprite-97e4d9e03d420ae0841ed3a39f7baec0.svg') %>">
                        </use></svg>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level__inner">
                    <div class="row">
                        <div class="col col--size-1of2">
                            <%= form_tag('/sessions', method: "post") do |f| %>
                                
                                <div class=
                                "module module--cloud module--padding-tight util--margin-rl">
                                <div class="module__body">
                                        <h3 class=
                                        "heading heading--level-1 heading--color-blue heading--font-size-largest heading--weight-lightest util--padding-txl util--padding-bl">
                                        Sign in to Learn</h3>
                                        <%= text_field_tag :username, nil, {placeholder: "Enter your learn username", class: "input util--padding-lxl util--margin-bl input--border-none"} %>
                                        <%= password_field_tag :password, nil, {placeholder: "Enter your password", class: "input util--padding-lxl input--border-none"} %>
                                        <div class=
                                        "heading heading--level-4 heading--weight-lighter heading--text-underline heading--color-grey util--padding-tm util--padding-bm"
                                        id="js--forgot-password">
                                            <a href="#">Forgot password?</a>
                                        </div><input class=
                                        "button button--color-blue button--layout-block util--margin-tl util--margin-bl"
                                        name="commit" type="submit" value=
                                        "Continue">
                                        <ul class=
                                        "list list--separators-grey-lighter util--padding-tl">
                                        <li></li>
                                            <li>
                                                <div class=
                                                "heading heading--display-inline-block util--padding-rs util--padding-bxl util--padding-txl">
                                                Have an account through GitHub?
                                                </div>
                                                <div class=
                                                "heading heading--color-green heading--display-inline-block">
                                                <a href="/sign_in/github">Sign
                                                in here.</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="col col--size-1of2">
                            <div class="module util--margin-lxl">
                                <div class="module__head"></div>
                                <div class="module__body">
                                    <h3 class=
                                    "heading heading--level-1 heading--weight-lighter heading--color-grey util--padding-tl util--padding-bm heading--font-size-larger">
                                    New to Learn?</h3>
                                    <div class="image-frame"><img class=
                                    "image-frame__image" src=
                                    "https://learn.co/assets/login/learn-screenshot.jpg"></div>
                                </div>
                                <div class="module__foot">
                                    <h3 class=
                                    "heading heading--level-2 heading--weight-lightest heading--font-size-smallest heading--display-inline-block">
                                    Learn.co is</h3><a class="util--padding-ls"
                                    href="https://flatironschool.com" target=
                                    "_blank">Flatiron School</a>'s online
                                    campus. Learn to code on one of the world's
                                    most sophisticated and engaging platforms.
                                    <a href=
                                    "https://flatironschool.com/campuses/online/"
                                    target="_blank">Select a course to get
                                    started.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>